@import "../../node_modules/bootstrap/scss/bootstrap";

$heading-color: #000000;
$auction-primary-color: #005467;
$primary: #005467;
$beta: #00df1e;
$grey: #646464;
$background-Primary: #005467;

$text-stroke: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;